<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://10.20.91.130/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hobbyStudy.dao.CourseCommonMapper">

	<resultMap id="BaseResultMap" type="com.hobbyStudy.entity.CourseComment" >
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="userid" property="userid"  jdbcType="VARCHAR" />
		<result column="course_id" property="courseId"  jdbcType="INTEGER" />
		<result column="content" property="content"  jdbcType="VARCHAR" />
		<result column="type" property="type"  jdbcType="INTEGER" />
		<result column="create_time" property="createTime"  jdbcType="DATE" />
		<result column="create_user" property="createUser"  jdbcType="VARCHAR" />
		<result column="update_time" property="updateTime"  jdbcType="TIMESTAMP" />
		<result column="update_user" property="updateUser"  jdbcType="VARCHAR" />
		<result column="del" property="del"  jdbcType="TINYINT" />
	</resultMap> 

	<sql id="Base_Column_List">
		userid,course_id, content,type, create_time, create_user, update_time, 
		update_user, del, id 
	</sql>

	<select id="getTotalCommentCount" parameterType="com.hobbyStudy.entity.CourseComment" resultType="java.lang.Integer">
		SELECT COUNT(*) 
		FROM hs_course_comment
		<trim prefix="WHERE " prefixOverrides="AND |OR "> 
			<if test="type != null">
				AND type = #{type, jdbcType=INTEGER}
			</if>
			<if test="courseId != null">
				AND course_id = #{courseId, jdbcType=INTEGER}
			</if>
			AND del = 0
		</trim> 
	</select>

	<select id="queryPageCount" resultMap="BaseResultMap">
		SELECT 
		<include refid="Base_Column_List" />
		FROM hs_course_comment
		<trim prefix="WHERE " prefixOverrides="AND |OR "> 
			<if test="param1.type != null">
				AND type = #{param1.type, jdbcType=INTEGER}
			</if>
			<if test="param1.courseId != null">
				AND course_id = #{param1.courseId, jdbcType=INTEGER}
			</if>
			AND del = 0
		</trim> 
		ORDER BY id DESC
		LIMIT #{param2.startIndex, jdbcType=INTEGER} , #{param2.pageSize, jdbcType=INTEGER} 
	</select>
	<!-- 插入操作 -->
	<insert id="addCourseComment" parameterType="com.hobbyStudy.entity.CourseComment" flushCache="true" useGeneratedKeys="true">
		INSERT INTO 
		hs_course_comment(userid, course_id,content,type,create_user) 
		VALUES(#{userid},#{courseId},#{content},#{type},#{createUser})
	</insert>
</mapper>
